
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    margin: 0 auto;
    margin-top: 20px;
}


.gallery img{
    width: 360px;
    height: 200px;
    transition: transform 0.3s ease-in;
}


.gallery img:hover {
    transform: scale(1.05);

}